@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
::-webkit-scrollbar {
	display: none;
}
html, ::placeholder, input, button {
	font-family: 'Dela Gothic One';
	overflow-y: hidden;
	overflow-x: hidden;
	font-size: 0.6vw;
}
html, body {
	height: 100%;
}
a {
	text-decoration: none;
}
.nonactive {
	display: none;
}

.button_orng {
	font-size: 1vmax;
	white-space: nowrap;
	margin: 1.4vw auto;
	padding: 0.2vmin 2vw;
	background: #000;
	color: #FC7B03;
	border: 0.2vw solid #000;
	border-radius: 15px;
	cursor: pointer;
}

.button_orng:hover {
	color: #000;
	background: #FC7B03;
}
