.navbar {
	align-items: center;
	justify-content: center;
	position: absolute;
	display: flex;
	width: 100%;
	height: 6vw;
	top: 0;
	left: 0;
	/*background: linear-gradient(90deg, rgba(43,43,43,1) 0%, rgba(59,58,58,1) 52%, rgba(37,37,37,1) 100%);*/
	z-index: 10;
	border-bottom: 0.2vw solid #222;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.simg {
	display: none;
	width: 5vw;
}
.mobile_search {
	display: none;
}
#timer {
	width: 15%;
	display: flex;
	justify-content: center;
	font-size: 2vw;
	color: #FFF;
}
input[type="text"] {
	background: #333;
	border: none;
	outline: none;
	border-radius: 10px;
	border: 2px solid #fff;
	width: 14vw;
	height: 2vw;
	color: #FC7B03;
	text-align: center;
}
input[type="text"]::placeholder {
	color: #FC7B03;
	text-align: center;
}
.title {
	width: 70%;
	display: flex;
	justify-content: center;
}
.title h1{
	margin: 1.3vw 0vw; 
	color: #FC7B03; 
	font-size: 2.6vw;
	font-family: 'Dela Gothic One';
	-webkit-text-stroke: 0.2px #FFF;
	text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.navbar a {

}
.title img {
	height: 3vw;
	padding-top: 2vw;
	margin: 0vw 1vw;
}
.search {
	margin: 2vw 0vw;
	width: 15%;
}
.favCont {
	position: relative;
}
.favCont label {
	cursor: pointer;
}
.favCont span {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 3vw;
	color: #FFF;
}
.favs {
	display: none;
	position: absolute;
	padding: 1vw;
	background: #333;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 5px;
	max-height: 38vw;
	max-width: 75vw;
	overflow: scroll;
	border: 2px solid #FFF;
}
.favCont img {
	height: 5vw;
	width: 5vw;
}
.fav {
	display: flex;
	align-items: center;
	margin: 1vw 0vw;
}
.fav img {
	border-radius: 5px;
	object-fit: cover;
}
.fav a {
	font-size: 1.2vw;
	text-decoration: none;
	color: #FC7B03;
	width: 35%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0vw auto;
}
@media only screen and (min-width: 10px) and (max-width: 779px) {
	.navbar {
		height: 15vw;
	}
	.navbar .title {
		width: 80%;
	}
	.navbar .title img {
		height: 5vw;
		padding-top: 2.4vw;
	}
	.navbar .title h1 {
		font-size: 4.6vw;
	}
	.search {
		display: none;
		width: 20%;
	}
	.simg {
		display: initial;
		cursor: pointer;
	}
	.mobile_search {
		width: 80%;
	}
	.mobile_search span {
		font-size: 4vw;
		width: 100%;
		text-align: center;
		display: block;
		margin: 2vw 0vw;
		color: #FFF;
	}
	.mobile_search form {
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}
	.mobile_search input[type="text"] {
		width: 100%;
		height: 4vw;
		font-size: 2vw;
	}
	.mobile_search input[type="text"]::placeholder {
		font-size: 2vw;
	}
}
