<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="stylesheet" href="/static/css/sr.css">
		<link rel="stylesheet" href="/static/css/navbar.css">
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
		<title>Search Results | Whoa! It's Soup Time |</title>
	</head>
	<body onload="loadFavs()">
	{% include "navbar.html" %}
	<div class="soup_bowl">
		<img src="/static/soupimgs/empty.jpg" style="position: absolute; left: -22; width: 120%; height: 120%; object-fit: cover; z-index: -1; filter: blur(15px)">
		<h2>No Results Found</h2>
		<p>Gosh darn it! We couldn't find the right soup for you, and we're sorry about that. Try adjusting your search terms and try again.</p>
	</div>
	</body>
</html>
